# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production

# Build files
/dist
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Database files (optional, if you want to exclude them)
backend/data/*.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# macOS specific files
.DS_Store
